body {
    padding: 10px 10px;
    font-family: Tahoma;
}

a {
    font-size: 1.0em;
    text-decoration: none;
}

input[type=text] {
    width: 200px;
}

input[type=submit] {
    margin-top: 10px;
}

span {
    font-weight: bold;
    width: 300px;
    display: inline-block;
}

.fieldName {
    width: 300px;
    font-weight: bold;
    vertical-align: top;
}

.fieldValue {
    width: 400px;
    font-weight: normal;
    vertical-align: top;
}
